<section class="pt-5">
<div class="container">
  <div class="row mt-5 mb-1">
  <div class="col-12">
      <h1>Hello <%= current_user.first_name %> welcome to your plane world!</h1>
  </div>
  </div>
  <div class="row my-5">
  <div class="col-12">
      <h2>Your bookings</h2>
  </div>
  </div>
  <div class="row my-5 justify-content-center">
  <div class="col-12">
    <div class="cards">
      <% @sorted_bookings.each do |booking| %>
      <%= link_to plane_path(booking.plane), class: "card-trip" do %>
          <% if booking.plane.photo.attached? %>
            <div class="card-trip-banner">
            <div class="card-trip-banner-img" style="background-image: linear-gradient(rgba(41, 67, 78, 0.05), rgba(41, 67, 78, 0.65)), url(<%= cl_image_path booking.plane.photo.key, crop: :fill %>);">
            </div>
              <div class="tag <%= booking.status %>" ><%= booking.status %></div>
            </div>
          <% else %>
            <div class="card-trip-banner">
            <div class="card-trip-banner-img" style="background-image: linear-gradient(rgba(41, 67, 78, 0.05), rgba(41, 67, 78, 0.65)), url(https://res.cloudinary.com/dy5wj4h8e/image/upload/v1644058464/development/iyzm9gfvo7o9k2xupglcdcy23cwq.jpg);">
            </div>
               <div class="tag <%= booking.status %>" ><%= booking.status %></div>
            </div>
          <% end %>
          <div class="card-trip-infos">
          <div>
            <h4><%= booking.plane.name.truncate(27) %></h4>
            <p><%= booking.plane.plane_model.name %></p>
            <div class="card-trip-infos2">
              <p class="card-description2"><span class="date-span">From</span><br/><strong><%= booking.start_date.strftime("%d.%m.%Y")%></strong></p>
              <p class="card-description2"><span class="date-span">To</span><br/><strong><%= booking.end_date.strftime("%d.%m.%Y")%></strong></p>
            </div>
            <div class="card-trip-infos2">
              <p class="card-description"><strong>Overall: <%=  number_with_delimiter((((booking.end_date - booking.start_date).to_i + 1) * (booking.plane.price / 100)), options = {}) %> €</strong></p>
              <p class="card-description"><strong><%=  number_with_delimiter((booking.plane.price / 100), options = {}) %> €</strong> / day</p>
            </div>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
</section>
<section class="py-5">
<div class="container">
  <div class="row my-5">
    <div class="col-12">
    <h3>Your requests</h3>
    </div>
  </div>
  <div class="row my-5 justify-content-center">
  <div class="col-12">

  <div class="cards">
    <% @user_planes.each do |user_plane| %>
      <% user_plane.bookings.order(:status).each do |booking| %>
        <div class="card-trip">
        <% if booking.plane.photo.attached? %>
          <div class="card-trip-banner">
            <div class="card-trip-banner-img" style="background-image: linear-gradient(rgba(41, 67, 78, 0.05), rgba(41, 67, 78, 0.65)), url(<%= cl_image_path user_plane.photo.key, crop: :fill %>);">
            </div>
            <div class="tag <%= booking.status%>"><%= booking.status %></div>
          </div>
          <% else %>
            <div class="card-trip-banner">
            <div class="card-trip-banner-img" style="background-image: linear-gradient(rgba(41, 67, 78, 0.05), rgba(41, 67, 78, 0.65)), url(https://res.cloudinary.com/dy5wj4h8e/image/upload/v1644058464/development/iyzm9gfvo7o9k2xupglcdcy23cwq.jpg);">
            </div>
            <div class="tag <%= booking.status%>"><%= booking.status %></div>
          </div>
          <% end %>
          <div class="card-trip-infos">
            <h4><%= link_to user_plane.name, plane_path(user_plane) %></h4>
            <p><%= booking.plane.plane_model.name %></p>
            <div class="card-trip-infos2">
              <p class="card-description2"><span class="date-span">From</span><br/><strong><%= booking.start_date.strftime("%d.%m.%Y")%></strong></p>
              <p class="card-description2"><span class="date-span">To</span><br/><strong><%= booking.end_date.strftime("%d.%m.%Y")%></strong></p>
            </div>
            <div class="card-trip-infos2">
              <p class="card-description"><strong>Total earnings: <%=  number_with_delimiter((((booking.end_date - booking.start_date).to_i + 1) * (booking.plane.price / 100)), options = {}) %> €</strong></p>
              <p class="card-description"><strong><%=  number_with_delimiter((booking.plane.price / 100), options = {}) %> €</strong> / day</p>
            </div>
            <div>
              <% if booking.status == "pending" %>
              <div class="d-flex m-card-negative-cta">
                <%= simple_form_for booking , html: { class: "w-50"} do |f| %>
                  <%# <%= f.input :status, as: :hidden, input_html: { status: 1 } %>
                  <%= f.input :status, as: :hidden, input_html: { value: "confirmed" } %>
                  <%= f.submit "Confirm", class: "cta cta-dark w-100" %>
                <% end %>
                <%= simple_form_for booking , html: { class: "w-50"} do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                  <%= f.submit "Decline", class: "cta cta-light w-100" %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
  </div>
</div>
</section>
