<h1> Hello <%= current_user.first_name %> welcome to your plane world!</h1>
<h3> you have the following bookings: </h3>
<div class="cards-small">
  <% @bookings.each do |booking| %>
    <div class="card-trip">
        <% if booking.plane.photo.attached? %>
          <%= cl_image_tag booking.plane.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to booking.plane.name, plane_path(booking.plane) %></h2>
            <p><%= booking.status %></p>
          </div>
          <h2 class="card-trip-pricing"> <%= booking.plane.price / 100 %> € per day </h2>
        </div>
      </div>
  <% end %>
</div>

<h3> You've got the following requests for your planes: </h3>
<% @user_planes.each do |user_plane| %>
  <div> <%= link_to user_plane.name, plane_path(user_plane) %> <%= current_user.email %> </div>
    <div>
      <% user_plane.bookings.each do |booking| %>
        <p> Booking from <%= booking.start_date %> to <%= booking.end_date %>  </p>
        <p> Current status: <%= booking.status %> </p>
        <%= simple_form_for(booking) do |f| %>
          <%# <%= f.input :status, as: :hidden, input_html: { status: 1 } %>
          <%= f.input :status, as: :hidden, input_html: { value: "confirmed" } %>
          <%= f.submit "Confirm", class: "btn btn-primary" %>
        <% end %>
        <%= simple_form_for(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
          <%= f.submit "Decline", class: "btn btn-danger" %>
        <% end %>
      <% end %>
    </div>



<% end %>
