    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('assets/hero.jpeg');">
      <div class="container text-center">
        <h1>Jets are for cool people!</h1>
        <p class="mb-3">Change your life and rent a jet, become 007.</p>
        <a class="cta cta-light" href="#plane-overview">fly now</a>
      </div>
    </div>
<section>
<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-12 text-center">
      <h2>Book your private jet today and escape your boring life.</h2>
    </div>
  </div>
  <div class="row mb-5 justify-content-center">
    <div class="col-12 col-lg-4 text-center">
    <i class="fas fa-plane fa-3x"></i>
      <h3 class="my-2">Your own jet</h3>
      <p>You hate travelling like everyone else? Start to do it like the cool ones, with your own plane.</p>
    </div>
    <div class="col-12 col-lg-4 text-center">
    <i class="fas fa-rainbow fa-3x"></i>
      <h3 class="my-2">No limits</h3>
      <p>You don't want to stick to normal standards? Book your own plane and decide the destinations as you want.</p>
    </div>
    <div class="col-12 col-lg-4 text-center">
      <i class="fas fa-clock fa-3x"></i>
      <h3 class="my-2">On demand</h3>
      <p>Find the perfect plane for you and book it now for tomorrow. Fasten your seatbelt and enjoy your trip.</p>
    </div>
  </div>
  </div>
</section>
<div class="container">
<div class="row my-5 justify-content-center">
    <div id="plane-overview" class="col-12 text-center">
      <h2>Find the best planes on earth and mars</h2>
    </div>
</div>
  <div class="row mb-5 justify-content-center">
  <div class="col-12">
    <div class="cards">
      <% @planes.each do |plane| %>
      <%= link_to plane_path(plane), class: "card-trip" do %>
          <% if plane.photo.attached? %>
            <%= cl_image_tag plane.photo.key, crop: :fill %>
          <% else %>
            <img src="https://res.cloudinary.com/dy5wj4h8e/image/upload/v1644058464/development/iyzm9gfvo7o9k2xupglcdcy23cwq.jpg" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h4><%= plane.name.truncate(27) %></h4>
              <div class="card-trip-infos2">
                <p><%= plane.plane_model.name %></p>
                <p class="card-description"><strong><%= number_with_delimiter((plane.price / 100), options = {}) %> €</strong> / day </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
