<!DOCTYPE html>
<html>
  <head>
    <title>PlainPlane</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= button_to "login", new_user_session_path %>
    <%= button_to "logout", destroy_user_session_path, method: :delete %>
    <% if user_signed_in? %>
      <%= current_user.email %>
    <% else %>
      <%= "not logged in" %>
    <% end %>
    <%= yield %>
  </body>
</html>
